<div class="projectdiv">
    <div class = 'projecttext'>
        <h1>Welcome to Andromeda!</h1>
        <h3>Andromeda is a book store from outer space! Here we have a wide selection of books, from physical to E-books and audio. This is a project for COMP3700 as specified by the TA and designed and created by Jeremy Wang, Jacob Byrd, and Pedro Vasconcelos.</h3>
        <h3>Browse our catalog and add some books to your cart!</h3>
        <button mat-raised-button color="white" [routerLink]="['/search', '']" style="margin-right: 15px;">View Books</button>
        <button mat-raised-button color="white" [routerLink]="['/cart']">View Cart</button>
    </div>
    <div class="projectimg">
        <img class="logo" src="assets/logo.png">
    </div>