<div class="book">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
            <mat-card-subtitle> <mat-icon>{{book.getIcon()}}</mat-icon>{{getIconText()}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <img [src]="book.imageUrl" style="max-width: 200px;">
            </p>
        </mat-card-content>
        <button mat-raised-button type="button" [routerLink]="['/book', book.id ]">
            View Details
        </button>
        <button *ngIf="isInCart()" mat-raised-button color="warn" (click)="removeBook()">
            Remove From Cart
        </button>
    </mat-card>
</div>